<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
        <tr>
            {% for col in colnames %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        <tr>
            {% for col in colnames %}
               <td>
                {% for link in data[col] %}
                    {{ link }}<br>
                {% endfor %}
               </td>
            {% endfor %}
        </tr>

    </tbody>
</table>
</body>
</html>